/*
style definitions for icon on gallery view
*/
.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-AZoomableGantt > div > div {
   background: url(images/amchart.png);
   background-position: 0 0;
   /*background-size: 30px;*/
   margin: 5px;
}
.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-AZoomableGantt > div > div {
   background: url(images/amchart.png) no-repeat scroll;
   background-position: 0 0;
   /*background-size: 30px;*/
   margin: 5px;
}